@media only screen and (min-width: 320px) {
  .card {
    height: 12%;
    width: 25%;
  }
  .stats {
    height: 9%;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    border-radius: 7px;
  }
  .main {
    padding-top: 1rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .game {
    height: 92%;
  }
  .startModal {
    width: 48%;
    height: 28%;
    padding-top: 8px;
  }
  .startGame {
    width: 83%;
    height: 72%;
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 375px) {
  .card {
    height: 15%;
    width: 28%;
  }
  .stats {
    height: 10%;
    margin-top: 13px;
    margin-bottom: 6px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    border-radius: 7px;
  }
  .main {
    padding-top: 1rem;
  }
  .title {
    font-size: 1.8rem;
  }
  .game {
    height: 93%;
  }
}
@media screen and (min-width: 568px) {
  .card {
    height: 26%;
    width: 15%;
  }
  .stats {
    height: 9%;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    border-radius: 7px;
  }
  .main {
    padding-top: 1rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .game {
    height: 90%;
  }
  .startModal {
    width: 42%;
    height: 33%;
    padding-top: 4px;
  }
  .startGame {
    width: 83%;
    height: 72%;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 667px) {
  .card {
    height: 26%;
    width: 15%;
  }
  .stats {
    height: 9%;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    border-radius: 7px;
  }
  .main {
    padding-top: 1rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .game {
    height: 93 %;
  }
}
@media screen and (min-width: 768px) {
  .card {
    height: 15%;
    width: 25%;
  }
  .stats {
    height: 12%;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    border-radius: 7px;
  }
  .main {
    padding-top: 2rem;
  }
  .title {
    font-size: 3rem;
  }
  .game {
    height: 93%;
  }
  .startModal {
    width: 48%;
    height: 28%;
    padding-top: 12px;
  }
  .startGame {
    width: 83%;
    height: 72%;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    height: 26%;
    width: 15%;
  }
  .stats {
    height: 12%;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
    border-radius: 7px;
  }
  .main {
    padding-top: 4rem;
  }
  .title {
    font-size: 3rem;
  }
  .game {
    height: 83%;
  }
}
