@media only screen and (min-width: 320px) {
  .card {
    height: 15%;
    width: 25%;
  }
  .stats {
    height: 9%;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    border-radius: 7px;
  }
  .main {
    padding-top: 1rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .game {
    height: 92%;
  }
  .startModal {
    width: 94%;
    height: 55%;
    padding-top: 8px;
  }
  .startGame {
    width: 26%;
    height: 9%;
    font-size: 1rem;
  }
  .instructions {
    font-size: 13px;
    line-height: 15px;
  }
  .instruction-container {
    margin-top: 4%;
  }
  .menu {
    width: 35%;
    height: 90%;
  }
  .modal-wrong {
    font-size: 1.2rem;
    line-height: 25px;
    padding-top: 44px;
  }
  .card-text {
    font-size: .7rem;
  }
  .correct {
    width: 265px;
    height: 176px;
  }
}
@media only screen and (min-width: 375px) {
  .instructions {
    font-size: 15px;
    line-height: 15px;
  }
  .menu {
    width: 41%;
    height: 90%;
  }
  .modal-wrong {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 568px) {
  .card {
    height: 29%;
    width: 15%;
  }
  .main {
    height: 52%;
  }
  .startModal {
    height: 74%;
  }
  .startGame {
    width: 16%;
    height: 11%;
  }
  .instructions {
    font-size: 16px;
  }
  .instruction-container {
    margin-top: 1%;
  }
  .menu {
    width: 26%;
  }
  .modal-wrong {
    font-size: 1.3rem;
    height: 32%;
  }
}
@media screen and (min-width: 667px) {
  .title {
    font-size: 1.5rem;
  }
  .startModal {
    width: 94%;
    height: 74%;
    padding-top: 8px;
  }
  .startGame {
    width: 16%;
    height: 11%;
    font-size: 1rem;
  }
  .instructions {
    font-size: 16px;
    line-height: 15px;
  }
  .instruction-container {
    margin-top: 1%;
  }
  .menu {
    width: 26%;
    height: 90%;
  }
}
@media screen and (min-width: 768px) {
  .card {
    height: 15.5%;
    width: 29%;
  }
  .title {
    font-size: 3rem;
  }
  .startModal {
    width: 87%;
    height: 54%;
    padding-top: 8px;
  }
  .startGame {
    width: 16%;
    height: 11%;
    font-size: 1rem;
  }
  .instructions {
    font-size: 24px;
    line-height: 26px;
  }
  .instruction-container {
    margin-top: 1%;
  }
  .menu {
    width: 33%;
    height: 90%;
  }
  .main {
    height: 82%;
  }
    .modal-wrong {
    font-size: 1.3rem;
    height: 10%;
  }
    .stats {
    font-size: 20px;
  }
    .card-text {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    height: 32%;
    width: 15%;
  }
    .main {
    height: 78%;
  }
    .startModal {
    width: 87%;
    height: 71%;
    padding-top: 8px;
  }
    .menu {
    width: 36%;
    height: 85%;
}
  .instructions {
    font-size: 27px;
    line-height: 31px;
  }
    .title {
    font-size: 2.5rem;
  }
@media screen and (min-width: 1366px) {
  .card {
    height: 32%;
    width: 15%;
  }
    .main {
    height: 78%;
  }
    .startModal {
    width: 87%;
    height: 71%;
    padding-top: 8px;
  }
    .menu {
    width: 23%;
    height: 85%;
}
  .instructions {
    font-size: 35px;
    line-height: 32px;
  }
    .title {
    font-size: 2.5rem;
  }
    .startGame {
    width: 16%;
    height: 11%;
    font-size: 1.5rem;
  }
