body {
  height: 97vh;
  background-image: url("../images/lfz-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  font-size: 3rem;
  margin-top: 2px;
  margin-bottom: 5px;
}


.modal {
  width: 36%;
  height: 33%;
  position: fixed;
  background-color: rgb(13, 133, 33);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 2rem;
  border-radius: 7px;
  color: rgb(255, 255, 255);
}
.modal-text {
  font-size: 2.6rem;
  color: rgb(255, 255, 255);
}
.startModal {
  width: 36%;
  height: 28%;
  position: fixed;
  background-color: rgb(13, 133, 33);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 5rem;
  padding-top: 12px;
  border-radius: 7px;
  color: rgb(255, 255, 255);
}
.startGame {
  width: 74%;
  height: 72%;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 7px;
  font-weight: 600;
  font-size: 3rem;
}

#play-again {
  width: 27%;
  height: 17%;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 7px;
  font-weight: 600;
}


.header {
  margin: auto;
  text-align: center;
}

.stats {
  background-color: rgb(13, 133, 33);
  height: 14%;
  margin-top: 6px;
  margin-bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 7px;
}

.grid-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game {
  height: 100%;
}

.aside {
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 2%;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin: 0 auto;
  padding-top: 3rem;
}

.card {
  background-image: url("../images/lfz-card.jpg");
  background-size: cover;
  background-position: center;
  height: 33%;
  margin-left: .2%;
  margin-right: .2%;
  margin-bottom: 1.5%;
  position: relative;
border-radius: 7px;

}

.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border-radius: 7px;
}

.card-back {
  background-image: url("../images/lfz-card.jpg");
}

.js-logo {
  background-image: url("../images/js-logo.png");
}
.css-logo {
  background-image: url("../images/css-logo.png");
}
.docker-logo {
  background-image: url("../images/docker-logo.jpg");
}
.github-logo {
  background-image: url("../images/gitHub-logo.png");
}
.html-logo {
  background-image: url("../images/html-logo.png");
}
.mysql-logo {
  background-image: url("../images/mysql-logo.jpg");
}
.node-logo {
  background-image: url("../images/node-logo.png");
}
.php-logo {
  background-image: url("../images/php-logo.jpeg");
}
.react-logo {
  background-image: url("../images/react-logo.png");
}

.hidden {
  display: none;
}
