body {
  height: 97vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/restaurant-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: url('../images/knifecursor.cur'), auto;
}
.header {
  margin: auto;
  text-align: center;
  font-family: 'Sacramento', cursive;
  color: rgb(255, 255, 255);
}

.title {
  font-size: 3rem;
  margin-top: 2px;
  margin-bottom: 5px;
}


.game {
  height: 100%;
}
.labels {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1px;
  color: white;
}
.scores {
  font-family: 'Amatic SC', cursive;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1px;
  color: white;
  margin-bottom: 6px;
}
.stats {
  font-family: 'Amatic SC', cursive;
  height: 14%;
  width: 20%;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 7px;
  text-align: center;
}


.startModal {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/tablebg.jpg");
  background-position: left;
  font-family: 'Amatic SC', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 83%;
  height: 76%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 12px;
  border-radius: 7px;
  color: rgb(255, 255, 255);
  margin-top: 2.5%;
}
.start-top {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.menu {
  margin-top: 2%;
  width: 25%;
  height: 91%;
}
.instruction-container {
width: 50%;
height: 85%;
margin-top: 2%;
}
.instructions {
  font-size: 32px;
  line-height: 29px;
  margin: 4px;
}
.startGame {
  font-family: 'Amatic SC', cursive;
  width: 19%;
  height: 15%;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 7px;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: url('../images/knifecursor.cur'), auto;
}
.start-offset {
  height: 2%;
  width: 19%;
}


.highlightCard {
  box-shadow: 0 0 6px 10px rgba(0, 0, 0, 0.795);
}

.main {
  height: 68%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 7px;
}
.cardboard {
  background-image: url("../images/boardonlybg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.modal {
  font-family: 'Amatic SC', cursive;
  width: 53%;
  height: 33%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 40px;
  padding-top: 2rem;
  border-radius: 7px;
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.modal-offset {
  padding-bottom: 11px;
}
.modal-text, modal-text1 {
  font-size: 2.3rem;
  color: rgb(255, 255, 255);
}

.modal-wrong {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/cork-bg.jpg");
  background-position: left;
  font-family: 'Amatic SC', cursive;
  line-height: 32px;
  font-size: 1.7rem;
  text-align: center;
  width: 59%;
  height: 22%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 70px;
  padding-bottom: 12px;
  margin: 0 auto;
  border-radius: 7px;
  color: rgb(255, 255, 255);
}
.modal-wrong > h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.correct {
  font-family: 'Amatic SC', cursive;
  line-height: 32px;
  font-size: 1.7rem;
  text-align: center;
  width: 600px;
  height: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 auto;
  border-radius: 7px;
  color: white;
}
.frame{
  box-shadow: 0 0 6px 10px rgba(254, 255, 237, 0.795);
  width: 100%;
  height: 100%;
}
.bruschetta-match {
  background-image: url("../images/dishes/bruschetta.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.fettuccine-match {
  background-image: url("../images/dishes/fettuccine-alfredo.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.salad-match {
  background-image: url("../images/dishes/salad.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.spaghetti-match {
  background-image: url("../images/dishes/spaghetti.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tart-match {
  background-image: url("../images/dishes/peach_tart.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tiramisu-match {
  background-image: url("../images/dishes/tiramisu.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bruschetta-match > p {
  margin-block-start: 10px;
  background-color: rgb(31, 18, 18);
  width: 100%;
  border-radius: 2px;
  text-align: center;
  margin: 0 auto;
  margin-top: 6px;

}
.fettuccine-match > p {
  margin-block-start: 10px;
  background-color: rgb(31, 18, 18);
  width: 100%;
  border-radius: 2px;
  text-align: center;
  margin: 0 auto;
  margin-top: 6px;
}
.salad-match > p {
  margin-block-start: 10px;
  background-color: rgb(31, 18, 18);
  width: 100%;
  border-radius: 2px;
  text-align: center;
  margin: 0 auto;
  margin-top: 6px;
}
.spaghetti-match > p {
  margin-block-start: 10px;
  background-color: rgb(31, 18, 18);
  width: 100%;
  border-radius: 2px;
  text-align: center;
  margin: 0 auto;
  margin-top: 6px;
}
.tart-match > p {
  margin-block-start: 10px;
  background-color: rgb(31, 18, 18);
  width: 100%;
  border-radius: 2px;
  text-align: center;
  margin: 0 auto;
  margin-top: 6px;
}
.tiramisu-match > p {
  margin-block-start: 10px;
  background-color: rgb(31, 18, 18);
  width: 100%;
  border-radius: 2px;
  text-align: center;
  margin: 0 auto;
  margin-top: 6px;
}
/* .bruschetta, .fettuccine,
.salad, .spaghetti,
.tart, .tiramisu {
  width: 89%;
  height: 100%;
} */


#play-again {
  width: 27%;
  height: 17%;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 7px;
  font-weight: 600;
  cursor: url('../images/knifecursor.cur'), auto;
}


.grid-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-size: cover;
  background-position: center;
  height: 30%;
  margin-left: 0.2%;
  margin-right: 0.2%;
  margin-bottom: 1.5%;
  position: relative;
  border-radius: 7px;
}
.card:parent {
  pointer-events: none;
}
.card-front > * {
  pointer-events: none;
}
.card-front {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border-radius: 7px;
  background-color: white;
}
.card-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5rem;
}
.card-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 7px;
  display: none;
  opacity: 0;
  background-color: white;
}

.card-front:hover .card-text-container{
  display: flex;
  opacity: .8;

}

.bruschetta-bread {
  background-image: url("../images/ingredients/bruschetta-bread.jpg");
}
.bruschetta-basil {
  background-image: url("../images/ingredients/bruschetta-basil.jpg");
}
.bruschetta-tomato {
  background-image: url("../images/ingredients/bruschetta-tomato.jpg");
}
.fettuccine-noodles {
  background-image: url("../images/ingredients/fettuccine-noodles.jpg");
}
.fettuccine-sauce {
  background-image: url("../images/ingredients/fettuccine-sauce.jpg");
}
.fettuccine-chicken {
  background-image: url("../images/ingredients/fettuccine-chicken.jpg");
}
.salad-croutons {
  background-image: url("../images/ingredients/salad-croutons.jpg");
}
.salad-parmesan {
  background-image: url("../images/ingredients/salad-parmesan.jpg");
}
.salad-romaine {
  background-image: url("../images/ingredients/salad-romaine.png");
}
.spaghetti-marinara {
  background-image: url("../images/ingredients/spaghetti-marinara.png");
}
.spaghetti-meatballs {
  background-image: url("../images/ingredients/spaghetti-meatballs.jpg");
}
.spaghetti-noodles {
  background-image: url("../images/ingredients/spaghetti-noodles.jpg");
}
.tart-crust {
  background-image: url("../images/ingredients/tart-crust.jpg");
}
.tart-peaches {
  background-image: url("../images/ingredients/tart-peaches.jpg");
}
.tart-sugar {
  background-image: url("../images/ingredients/tart-sugar.jpg");
}
.tiramisu-coffee {
  background-image: url("../images/ingredients/tiramisu-coffee.jpg");
}
.tiramisu-ladyfingers2 {
  background-image: url("../images/ingredients/tiramisu-ladyfingers2.jpg");
}
.tiramisu-marscapone {
  background-image: url("../images/ingredients/tiramisu-marscapone.jpg");
}

.hidden {
  display: none;
}
